<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.projectcoding.project01.persistence.ReviewCommentsMapper">
   
   <resultMap type="com.projectcoding.project01.domain.ReviewCommentsVO" id="reviewCommentsResultMap">
      <id property="reviewCommentsId" column="Review_COMMENTS_ID" /> 
      <result property="reviewBoardId" column="Review_BOARD_ID" /> 
      <result property="memberId" column="MEMBER_ID" />
      <result property="reviewCommentsContent" column="Review_COMMENTS_CONTENT" />
      <result property="reviewCommentsCreated" column="Review_COMMENTS_CREATED" />
      <result property="reviewReplyCount" column="Review_Reply_COUNT" />
   </resultMap>
   
   <insert id="insert">
      INSERT INTO Review_COMMENTS (Review_COMMENTS_ID, Review_BOARD_ID, MEMBER_ID, Review_COMMENTS_CONTENT, Review_REPLY_COUNT)
      VALUES (COMMENTS_SEQ.NEXTVAL, #{reviewBoardId}, #{memberId}, #{reviewCommentsContent}, 0)
   </insert>
   
   <select id="selectListByBoardId" resultMap="ReviewCommentsResultMap">
      SELECT * FROM Review_COMMENTS
      WHERE Review_BOARD_ID = #{reviewBoardId}
      ORDER BY Review_COMMENTS_ID
   </select>
   
   <update id="update">
      UPDATE Review_COMMENTS
      SET Review_COMMENTS_CONTENT = #{reviewCommentsContent}
      WHERE Review_COMMENTS_ID = #{reviewCommentsId}
   </update>
   
   <delete id="delete">
      DELETE FROM Review_COMMENTS
      WHERE Review_COMMENTS_ID = #{reviewCommentsId}
   </delete>
   
   <update id="updateReplyCount">
   		UPDATE Review_COMMENTS
    	SET Review_REPLY_COUNT = Review_REPLY_COUNT + #{amount}
    	WHERE Review_COMMENTS_ID = #{reviewCommentsId}
	</update>
</mapper>