<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.projectcoding.project01.persistence.ReviewReplyMapper">

    <resultMap type="com.projectcoding.project01.domain.ReviewReplyVO" id="ReviewReplyResultMap">
        <id property="reviewReplyId" column="Review_REPLY_ID" />
        <result property="reviewCommentsId" column="Review_COMMENTS_ID" />
        <result property="reviewReplyContent" column="Review_REPLY_CONTENT" />
        <result property="memberId" column="MEMBER_ID" />
        <result property="reviewReplyCreated" column="Review_REPLY_CREATED" />
    </resultMap>

    <insert id="insert">
        INSERT INTO FOOD_RECIPE_REPLY (Review_REPLY_ID, Review_COMMENTS_ID, Review_REPLY_CONTENT, MEMBER_ID)
        VALUES (REPLY_SEQ.NEXTVAL, #{reviewCommentsId}, #{reviewReplyContent}, #{memberId})
    </insert>

    <select id="selectListByCommentsId" resultMap="ReviewReplyResultMap">
        SELECT * FROM Review_REPLY
        WHERE Review_COMMENTS_ID = #{reviewCommentsId}
        ORDER BY Review_REPLY_ID
    </select>

    <update id="update">
        UPDATE Review_REPLY
        SET Review_REPLY_CONTENT = #{reviewReplyContent}
        WHERE Review_REPLY_ID = #{reviewReplyId}
    </update>

    <delete id="delete">
        DELETE FROM Review_REPLY
        WHERE Review_REPLY_ID = #{reviewReplyId}	
    </delete>
    

</mapper> 